
<div class="centerd p-5"> 
    <div   style="width: 700px;">
        
            <div class="row">
                    <div class="col-8">
          <h1 style="color:white;">Insulators: </h1><br><br>
          <p style="color:white; font-size: larger"><b>-Areej Mohamed saad</b><br>
              A student in Faculty of Science Alexandria University ,Computer Science department 
              interested in sports and music <br><br>
              <b>-Dina Magdy Mahdy</b><br>
             Statistics majored Computer Science minored student in Faculty of Science Alexandria University
             Voice actress <br><br>
             <b>-Mariam Samir Dawa</b><br>
              A Computer Science student in Faculty of Science Alexandria University
              volunteer in English Club Academic Comitee<br><br>
              <b> -Nadeen Magdy</b><br>
              A computer science student in Faculty of Science Alexandria University<br><br>
              <b> -Nihal Yasser Khamis </b><br>
             A student in faculty of science Alexandria University ,Computer Science department 
             interested in sports <br><br>
             <b>-Yara Shousha</b> <br>
             A major physics student in Alexandria University who’s passionate about physics ,Space and Data analysis<br><br><br><br><br><br><br></p>
</div>
        
        <div class="col-4 p-5 ">
                <img src="https://serving.photos.photobox.com/1699540291f9d0e3d05858171ed806d6ab9dfc4396c1ef71b0c145d56a146a783df3f0de.jpg" alt="">
              </div>
            
      </div>
